

.product-list-item {
  margin: 3vh;
}
.main {
  width: 100%;
}
.sidebar {
  border-right: 2px solid #c3c3c3;
  width: 12vw;
  min-width: 12vw;
  height: 100%;
}

.admin {
  margin-left: 2vw;
}
.submit-category {
  margin-top: 4vw;
}
